:root {
  /* Primary colors */
  --black: #000;
  --white: #fff;
  --light-black: #101011;

  /* Fonts */
  --qs: 'Quicksand', 'Lato', sans-serif;
  --lato: 'Lato', 'Quicksand', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  width: 100%;
}

#logo {
  max-width: 300px;
}

#profile {
  max-width: 50px;
  border-radius: 50%;
}
