:root {
  /* Primary Colors */
  --smoke-white: #fcfcf9;
  --purple: #694cf6;
  --gray: #505050;

  /* Neutral Colors */
  --white: #fff;
  --black: #000;
  --border-gray: #c0c0c0;

  /* Heights */
  --header-height: 5svh;
  --footer-height: 10svh;

  /* Fonts */
  --dm-sans: 'DM-Sans';
  --roboto: 'Roboto';
  --rb-m: 'Roboto Medium';
  --rad: var(--roboto, Arial, var(--dm-sans));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-anchor: initial;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--dm-sans, Arial, var(--roboto));
  text-rendering: optimizeSpeed;
  background: var(--smoke-white);
  color: var(--gray);
  margin: 0;
  position: relative;
}

img {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 2em;
}

.flex {
  display: flex;
}

.align__center {
  align-items: center;
}

.column {
  flex-direction: column;
}

#logo {
  width: 147px;
  height: 42px;
}

.cursor__pointer {
  cursor: pointer;
}

button {
  color: var(--white);
  background: var(--purple);
  border: none;
  padding: 1em;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  margin: 0.5em 0 1.5em;
}
