a,
p {
  text-decoration: none;
  color: var(--gray);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-size: clamp(3rem, 5vw, 5rem);
}

h3 {
  margin-bottom: 0.25em;
  font-size: clamp(2rem, 4vw, 2.5rem);
}

p {
  font-size: clamp(1.55rem, 2.4vw, 2.1rem);
  line-height: 1.5;
}

/* CSS Combinators */
.hero__text h1,
h2 {
  margin-bottom: 0;
}

h2,
p {
  max-width: 600px;
}

.white__bg {
  background: var(--white);
}

.svg {
  max-width: 30px;
}

.flex__reverse {
  flex-direction: column-reverse;
}

.black__text {
  color: var(--black);
}

.clr--purple {
  color: var(--purple);
}

.margin__bottom {
  margin-bottom: 0.5em;
}

.link {
  font-size: clamp(1.4rem, 4.1vw, 2.2rem);
}

.side__images,
.space--between,
.footer__text p {
  max-width: 400px;
}

.social__links .accessibility__section {
  margin-bottom: 4em;
}

/* header */
.header {
  min-height: var(--header-height);
  justify-content: space-between;
  padding-top: 3em;
}

.logo__link {
  align-items: center;
}

.navbar {
  align-items: center;
  gap: 2rem;
  padding-top: 7.5em;
  position: fixed;
  right: 0;
  top: 0;
  backdrop-filter: blur(15px);
  min-height: 100vh;
  width: 50%;
  z-index: 1;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.navbar li a {
  color: var(--black);
}

.navbar .flex {
  gap: 2rem;
}

.navbar .cta--btn {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
}

.close {
  position: relative;
  z-index: 999;
  display: none;
}

/* using js function here: */
.open__nav {
  transform: translateX(0%);
}

/* <----- Main -----> */
main::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(237, 203, 245);
  background: radial-gradient(
    circle at top left,
    rgba(237, 203, 245, 1) 0%,
    rgba(253, 247, 243, 1) 15%
  );
  z-index: -1;
}

main {
  min-height: calc(100svh - (var(--header-height) + var(--footer-height)));
}

/* hero__section */
.hero__section {
  margin: 0 auto 5em;
  padding-top: 5em;
}

.hero__img {
  padding-inline: 1em;
  align-self: center;
  max-width: clamp(500px, 50vw, 850px);
}

.hero__text h1 {
  font-size: clamp(4rem, 12vw, 7rem);
  line-height: 1.2;
  max-width: 660px;
}

#user-avatars {
  max-width: 190px;
  display: block;
}

.social__links {
  padding-top: 5em;
}

.accessibility__section {
  margin-top: 4em;
  padding-bottom: 4em;
}

.accessibility__section h2 {
  margin-top: 1.5em;
}

.side__images {
  object-fit: contain;
  align-self: center;
}

/* <----- Footer -----> */

.footer {
  min-height: var(--footer-height);
  padding-block: 3em;
}

.footer__text p {
  margin: 0.5em 0 1.8em;
}

.footer__links .flex:nth-child(1) {
  margin-bottom: 1em;
}

.footer__links .sitemap__resources .resources {
  padding-right: 0.75em;
}
.footer__links h3 {
  font-family: 'Roboto Medium';
  font-size: clamp(1.6rem, 3vw, 2.3rem);
}

.footer__links li a {
  font-family: 'Roboto';
  font-size: clamp(1.6rem, 3vw, 2rem);
}

.space--between {
  justify-content: space-between;
}

.footer__links .flex li {
  line-height: 2;
}

/* Media queries */

@media (min-width: 700px) {
  .footer__links .sitemap__resources .resources {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  main::before {
    background: rgb(235, 200, 244);
    background: radial-gradient(
      circle at top left,
      rgb(235, 200, 244) 0%,
      rgb(250, 239, 238) 32%,
      rgb(252, 252, 249) 100%
    );
  }

  .header {
    padding-top: 2em;
  }

  .footer {
    padding-bottom: 2em;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }

  .accessibility__section {
    margin-top: 1em;
  }

  .accessibility__section img {
    align-self: self-end;
  }

  .side__images {
    max-width: clamp(280px, 35vw, 500px);
  }

  .hamburger-menu,
  .svg {
    display: none;
  }

  nav.row {
    gap: 0;
  }

  .navbar {
    padding-top: 0;
    text-transform: uppercase;
    transform: translateX(0%);
    backdrop-filter: unset;
    position: unset;
    transition: transform 0.5s ease-in-out;
    min-height: auto;
    width: auto;
    text-transform: unset;
  }

  .navbar .cta--btn {
    margin-top: 0;
  }

  .navbar ul {
    gap: 2rem;
    padding-inline: 1.5em;
  }

  .navbar button {
    margin-bottom: 0;
  }

  .footer__text h3 {
    font-size: 2.5rem;
  }

  .space--between {
    gap: 10rem;
  }
}

@media (min-width: 1340px) {
  .hero__section {
    flex-direction: row;
    align-items: center;
  }

  .hero__img {
    margin-left: -5.5em;
    margin-right: -7em;
  }

  h2,
  p {
    max-width: 720px;
  }

  .accessibility__section {
    margin-top: 5em;
  }

  .footer__links {
    display: flex;
    gap: 10rem;
  }
}
